<!-- <p id="notice"><%= notice %></p>

<h1>Listing Calendars Holidays</h1>

<table>
  <thead>
    <tr>
      <th>Calendar</th>
      <th>Holiday</th>
      <th>Created by</th>
      <th>Last updated by</th>
      <th>Creation date</th>
      <th>Last update date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendars_holidays.each do |calendars_holiday| %>
      <tr>
        <td><%= calendars_holiday.calendar_id %></td>
        <td><%= calendars_holiday.holiday_id %></td>
        <td><%= calendars_holiday.created_by %></td>
        <td><%= calendars_holiday.last_updated_by %></td>
        <td><%= calendars_holiday.creation_date %></td>
        <td><%= calendars_holiday.last_update_date %></td>
        <td><%= link_to 'Show', calendars_holiday %></td>
        <td><%= link_to 'Edit', edit_calendars_holiday_path(calendars_holiday) %></td>
        <td><%= link_to 'Destroy', calendars_holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendars holiday', new_calendars_holiday_path %>
 -->