<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Calendar:</strong>
  <%= @calendars_holiday.calendar_id %>
</p>

<p>
  <strong>Holiday:</strong>
  <%= @calendars_holiday.holiday_id %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @calendars_holiday.created_by %>
</p>

<p>
  <strong>Last updated by:</strong>
  <%= @calendars_holiday.last_updated_by %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @calendars_holiday.creation_date %>
</p>

<p>
  <strong>Last update date:</strong>
  <%= @calendars_holiday.last_update_date %>
</p>

<%= link_to 'Edit', edit_calendars_holiday_path(@calendars_holiday) %> |
<%= link_to 'Back', calendars_holidays_path %>
 -->