<% (@start_date..@end_date).select {|d| d.day == 1}.each do |month| %>
	<div class="well well-sm work-month alternative-white">
		<div class="row">
			<div class="col-md-1">
				<h3 class="center-text"><%= month.strftime('%B') %></h3>
			</div>
			<div class="col-md-11">
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
						<% (month.beginning_of_month..month.end_of_month).each do |day| %>
							<% @div_title = @days_hash[day.to_date]%>
							<th class="center-text 
								<%= 
									if @work_days.include? day.to_date
										if @div_title && @div_title.length > 1
											'conflicting-day'
										else
											'work-day'
										end
									else
									 'white-bg'
									end %>">

								<%if(@div_title)%>
									<div title="<%=@div_title.join(", ")%>">
								<%else%>
									<div>
								<%end%>
									<span>
										<%= day.strftime('%a') %>	
										<% if @holidays.include? day.to_date %>
											<small><span style="float:right;" class='holiday'></span></small>
										<%end%>
									</span>
									<span class="new-line">
										<%= day.strftime('%e') %>
									</span>
								</div>
							</th>
						<% end %>				
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
<% end %>

<script>
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

/*    $('#calendar').fullCalendar({
        // put your options and callbacks here
        aspectRatio: 4,
        header: {
	        left: 'prev,next today',
	        center: 'title',
	        right: 'month'
      	},
        selectable: false,
        editable: false,
        events: '/calendars/<= @calendar.id %>/calendars_hitches/<= @calendars_hitch.id %>'

    })
*/
});
</script>

<!-- <style type="text/css">
	th:hover{
		background-color: green
	}	
</style> -->