<table class="table table-striped" id="user_table">
  
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Username</th>
      <th>Pilot</th>
      <th>Job description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tfoot class="search_header">
    <tr>
      <th class="search">Last name</th>
      <th class="search">First name</th>
      <th class="search">Username</th>
      <th class="search">Pilot</th>
      <th class="search">Job description</th>
      <th class="search">Status</th>
    </tr>
  </tfoot>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.last_name %></td>
      <td><%= user.first_name %></td>
      <td><%= user.username %></td>
      <td><%= user.pilot %></td>
      <td><%= user.job_description %></td>
      <td><%= user.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<script>
$(document).ready(function(){

  $('#user_table .search_header th.search').each( function () {
      var title = $(this).text();
      $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
  } );

  var user_table = $("#user_table").DataTable({
    "order": [[0, "asc"]]

  });

  user_table.columns().every( function () {
      var that = this;

      $( 'input', this.footer() ).on( 'keyup change', function () {
          if ( that.search() !== this.value ) {
              that
                  .search( this.value )
                  .draw();
          }
      } );
  } );
});

$(function(){
    var customer_table = $('#customers-datatable').DataTable({
        "aaSorting": [],
        responsive: true,
        'scrollX': true,
        scrollY:        '30vh',
        scrollCollapse: true,
        paging:         false
    });
    $("#customer-search-container").append($('#customers-datatable_filter'))
    $('body').tooltip({
      selector: '[data-toggle="tooltip"]'
    })
    $('#customers-datatable tbody').on( 'click', 'tr', function () {
        $("#contracts-container").empty();
        $("#jobs-container").empty();
        if ( $(this).hasClass('active') ) {
            $(this).removeClass('active');
            window.location.hash = null
        }
        else {
          customer_table.$('tr.active').removeClass('active');
          $(this).addClass('active');
          var url_path = "/customers/"+ $(this).data("customer-id") +"/contracts"
          var filter_status = $('#customer_status').html();
        }
    });
    if (window.location.hash) {
      customer_id = window.location.hash.substr(1).split("&")[1]
      $("#customer_"+customer_id).trigger('click');
    }
  });

</script>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">Customers</div>
      <div class="col-sm-6 float-right" id="customer-search-container"></div>
    </div>
  </div>
  <div class="panel-body">
  
  <% if @customers.present? %>
    <table class="datatable table table-hover talbe-condensed table-striped" id='customers-datatable'>
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>AR Site Number</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each_with_index do |customer, index| %>
          <tr data-customer-id="<%= customer.id %>" id='customer_<%= customer.id %>'>
            <td>
            <%= 
              if (customer.alt_customer_name != customer.customer_name)
                content_tag :span, customer.customer_name, data: {toggle: 'tooltip'},  title: customer.alt_customer_name, class: 'asterisk-after' 
              else
                customer.customer_name
              end
            %>
            </td>
            <td><%= customer.address %></td>
            <td><%= customer.city %></td>
            <td><%= customer.state %></td>
            <td><%= customer.country %></td>
            <td><%= customer.ar_site_number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3>No Customers Found</h3>
  <% end %>
  </div>