<%= form_for([@hitch, @pilots_hitch],  html: {class: "form-horizontal", id: "pilots_form"}) do |f| %>
  <% if @pilots_hitch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pilots_hitch.errors.count, "error") %> prohibited this pilots_hitch from being saved:</h2>

      <ul>
      <% @pilots_hitch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              Select Pilots
            </div>
            <div class="panel-body">
              <% if @all_pilots.blank? %>
                <h2>No Pilots available to assign</h2>
              <% else %>
                <table id='select_user_table' class='table table-striped datatable'>
                  <thead>
                    <tr>
                      <th class='nosort'>
                        <input type="checkbox" id='select_all_cb' />Select All
                      </th>
                      <th>Full Name</th>
                      <th>User Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @all_pilots.each do |pilot| %>
                      <tr>
                        <td>
                          <%= check_box_tag "hitch_pilots[checkbox_user_ids][]", pilot['user_id'], @hitch_pilots.include?(pilot['user_id']), id: 'user_'+pilot['user_id'].to_s, class: "user_checkbox" %>
                        </td>
                        <td><%= pilot.full_name %></td>
                        <td><%= pilot.user_name%></td>              
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            </div>
          </div>
        </div>
        <div class="form-group">
            <%= f.label :effective_start_date, "Start Date", class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
              <div class="input-group date">
                <%= f.text_field :effective_start_date, value: @pilots_hitch.effective_start_date.try(:strftime, "%m-%d-%Y"), class: "form-control", id: 'effective_start_date'%>
                <span class="input-group-addon">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :effective_end_date, "End Date", class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
              <div class="input-group date">
                <%= f.text_field :effective_end_date, value: @pilots_hitch.effective_end_date.try(:strftime, "%m-%d-%Y"), class: "form-control", id: 'effective_end_date'%>
                <span class="input-group-addon">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="actions" style='padding-bottom: 20px;'>
      <%= f.submit "Save" , id: "submit-button"%>
    </div>
  </div>
  
<% end %>

<script>
  $(function(){
    $("#effective_start_date").datetimepicker({
      format: 'MM/DD/YYYY'
    });
    $("#effective_end_date").datetimepicker({
      format: 'MM/DD/YYYY'
    });
    $("#effective_start_date").on("dp.change", function (e) {
        $('#effective_end_date').data("DateTimePicker").minDate(e.date);
    });
    $("#effective_end_date").on("dp.change", function (e) {
        $('#effective_start_date').data("DateTimePicker").maxDate(e.date);
    });

    // Select all check box
    $('.row').on("click", "#select_all_cb", function(e){
      var status = this.checked;
      $('.user_checkbox').each(function(){
        this.checked = status;
      });
    });

    $('.user_checkbox').change(function(){ //".checkbox" change
      //uncheck "select all", if one of the listed checkbox item is unchecked
      if(this.checked == false){ //if this item is unchecked
        $("#select_all_cb")[0].checked = false; //change "select all" checked status to false
      }
       
      //check "select all" if all checkbox items are checked
      if ($('.user_checkbox:checked').length == $('.user_checkbox').length ){
        $("#select_all_cb")[0].checked = true; //change "select all" checked status to true
      }
    });
  });
</script>

<script>
  $(document).ready(function(){
    var user_table = $("#select_user_table").DataTable({
      "order": [[1, "asc"]],
      "columnDefs":[{
        "targets": 0,
        "orderable": false
      }]
    });

    $("#submit-button").click(function(e) {
      e.preventDefault();
      //Loop through the TR records
      user_table.$(".user_checkbox:checked").each(function(index, nRow){
          //Add to form
          var nHidden = document.createElement( 'input' );
          nHidden.type = 'hidden';
          nHidden.name = $(this).attr('name').replace(/checkbox_/g, '');
          //Get value from each checkbox
          nHidden.value = $(this).val();
          $(".data-container").append( nHidden );
      });

      $("#pilots_form").submit();
    });
  });
</script>
