<p id="notice"><%= notice %></p>

<h1>Listing Pilots Hitches</h1>

<table>
  <thead>
    <tr>
      <th>Hitch</th>
      <th>Employee</th>
      <th>Effective start date</th>
      <th>Effective end date</th>
      <th>Created by</th>
      <th>Last updated by</th>
      <th>Creation date</th>
      <th>Last update date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pilots_hitches.each do |pilots_hitch| %>
      <tr>
        <td><%= pilots_hitch.hitch_id %></td>
        <td><%= pilots_hitch.employee_id %></td>
        <td><%= pilots_hitch.effective_start_date %></td>
        <td><%= pilots_hitch.effective_end_date %></td>
        <td><%= pilots_hitch.created_by %></td>
        <td><%= pilots_hitch.last_updated_by %></td>
        <td><%= pilots_hitch.creation_date %></td>
        <td><%= pilots_hitch.last_update_date %></td>
        <td><%= link_to 'Show', pilots_hitch %></td>
        <td><%= link_to 'Edit', edit_pilots_hitch_path(pilots_hitch) %></td>
        <td><%= link_to 'Destroy', pilots_hitch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pilots hitch', new_pilots_hitch_path %>
