<%= form_for(@schedule, html: {class: "form-horizontal", id: "day_schedule_form"}) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid margin-top-14">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" style='padding-bottom: 45px; padding-left: 250px;'>
          <%= f.label :user_id, "Choose Pilot", class: "control-label" %>
          <%= f.collection_select :user_id, @available_pilots, :id, :username, {include_blank: false }, {class: "modelDropDown form-group", style: "width:30%;"} %>
          <%= f.hidden_field :schedule_date %>
          <%= f.hidden_field :job_idx %>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12 text-center">
        <%= f.submit " Save ", class:"btn btn-default " %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('#schedule_user_id').select2({
      width: 'resolve'
    });
  });
</script>
