<%= form_for(@schedule, html: {class: "form-horizontal", id: "day_schedule_form"}) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render('users/pilots_hitch_table', f: f, selection_type: 'radio', pilots: @available_pilots)%>

  <!-- <div class="form-group">
    <label class="col-sm-2 control-label">Assignment</label>
    <div class="col-sm-6">
      <= f.select :assignment, options_for_select([["PIC","PIC"],["SIC","SIC"]],"PIC"), {},{:class =>"form-group", :id => "schedule_assignment", :style => "height:46px;border-radius:2px;width:30%"}%>
    </div>
  </div> -->


  <div class="checkbox schedule-form-checkbox-padding">
    <label><input type="checkbox" name="schedule_multiple_dates" id="schedule_multiple_dates" value="true">Scheule Multiple Dates</label>
  </div>
  <div id='multiple_dates_div' style="display: none;">
    <div class="form-group">
      <label class="col-sm-2 control-label">
        Schedule up to
      </label>
      <div class="col-sm-3">
        <div class="input-group date">
          <input class="form-control" id="schedule_up_to" type="text" name="schedule_up_to" onkeydown="return false">
          <span class="input-group-addon">
            <i class="fa fa-calendar" aria-hidden="true" id='schedule_up_to_selector_icon'></i>
          </span>
        </div>
      </div>
    </div>
    <div class="schedule-form-checkbox-padding">
      <div class="checkbox">
        <label><%= check_box_tag 'schedule_on_hitch', true, true %>Only schedule when on hitch</label>
      </div>
      <div class="checkbox">
        <label><%= check_box_tag 'schedule_on_free', true, true %> Do not schedule on days this pilot is already working</label>
      </div>
    </div>
  </div>
  <%= f.hidden_field :schedule_date %>
  <%= f.hidden_field :job_idx %>
  <%= f.hidden_field :location_idx %>
  <%= f.hidden_field :assignment%>
  <input type="hidden" name="org_unit" value="<%=params[:org_unit]%>">
  <input type="hidden" name="filter_base_id" value="<%=params[:base_id]%>">

  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      <%= f.submit 'Save', class:"btn btn-default float-right", id: 'submit-button'%>
    </div>
  </div> 
<% end %>

<script>
  $(document).ready(function() {
    // $('#schedule_assignment').select2({
    //   minimumResultsForSearch: -1
    // });
    $("#schedule_up_to").datetimepicker({
      format: 'MM/DD/YYYY',
      minDate: moment("<%= @schedule.schedule_date %>", "YYYY-MM-DD-"),
      maxDate: moment("<%= @schedule.schedule_date.end_of_month %>", "YYYY-MM-DD")
    });
    $('#schedule_up_to_selector_icon').click(function(e){
      e.preventDefault();
      $('#schedule_up_to').focus();
    });
    $('#schedule_up_to').val('');

    $('#schedule_multiple_dates').change(function (e) {
      if($(this).prop("checked") === true) $('#multiple_dates_div').show('slow');
      else $('#multiple_dates_div').hide('slow');
    });

    var pilot_table = $("#select_pilot_table").DataTable({
      "order": [[1, "asc"]],
      "columnDefs":[{
        "targets": 0,
        "orderable": false
      }]
    });
  });
</script>
