<%= form_for(@schedule, html: {class: "form-horizontal", id: "day_schedule_form"}) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid margin-top-14">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="col-sm-2 control-label">Choose Pilot</label>
          <div class="col-sm-6">
            <%= f.collection_select :user_id, @available_pilots, :id, :username, {include_blank: false }, {class: "modelDropDown form-group", style: "width:30%;"} %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">
            Schedule up to <i>(optional)</i>
          </label>
          <div class="col-sm-3">
            <div class="input-group date">
              <input class="form-control" id="schedule_up_to" type="text" name="schedule_up_to" onkeydown="return false">
              <span class="input-group-addon">
                <i class="fa fa-calendar" aria-hidden="true" id='schedule_up_to_selector_icon'></i>
              </span>
            </div>
          </div>
        </div>
        <%= f.hidden_field :schedule_date %>
        <%= f.hidden_field :job_idx %>
        <input type="hidden" name="org_unit" value="<%=params[:org_unit]%>">
        <input type="hidden" name="base_id" value="<%=params[:base_id]%>">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <%= f.submit " Save ", class:"btn btn-default " %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('#schedule_user_id').select2({
      width: 'resolve'
    });
    $("#schedule_up_to").datetimepicker({
      format: 'MM/DD/YYYY',
      minDate: moment("<%= @schedule.schedule_date %>", "YYYY-MM-DD-"),
      maxDate: moment("<%= @schedule.schedule_date.end_of_month %>", "YYYY-MM-DD")
    });
    $('#schedule_up_to_selector_icon').click(function(e){
      e.preventDefault();
      $('#schedule_up_to').focus();
    });
    $('#schedule_up_to').val('');
  });
</script>
