<tr>
  <th>
    <%= job.job_name %>
  </th>

  <% 1.upto(no_of_days) do |number|%>
    <td id='<%=job.job_idx%>_<%=number%>' data-job='<%=job.job_idx%>' data-jobname='<%=job.name%>' data-date='<%=@year%>-<%=@month%>-<%=number%>' class='scheduling_cell_js'>
      <%if(@allotted_pilots["#{number}_#{job.job_idx}"])%>
        <% @allotted_pilots["#{number}_#{job.job_idx}"].each do |pilotname_id| %>
          <div class="pilot-name-container">
            <%=pilotname_id.split('_')[0]%>
              <div class="delete_container_js" data-pilotID="<%=pilotname_id.split('_')[1]%>" data-pilotName="<%=pilotname_id.split('_')[0]%>">
                <i class='fa fa-times fa-sm'></i>
              </div>
          </div>
        <%end%>
      <%else%>
      <%end%>
    </td>
  <%end%>
</tr>
