<p id="notice"><%= notice %></p>

<h1>Listing Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Schedule date</th>
      <th>Location idx</th>
      <th>Job idx</th>
      <th>Model idx</th>
      <th>Mission</th>
      <th>Asset idx</th>
      <th>Pic</th>
      <th>Sic</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.schedule_date %></td>
        <td><%= schedule.location_idx %></td>
        <td><%= schedule.job_idx %></td>
        <td><%= schedule.model_idx %></td>
        <td><%= schedule.mission_id %></td>
        <td><%= schedule.asset_idx %></td>
        <td><%= schedule.pic_id %></td>
        <td><%= schedule.sic_id %></td>
        <td><%= schedule.user_id %></td>
        <td><%= schedule.status %></td>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
