<%= render("scheduling_filters")%>

<%if(@jobs && @jobs.length > 0)%>
  <table class="table table-striped table-bordered monthly_schedule" id='monthly_schedule'>
    <thead>
      <tr>
        <th><%= @start_date.strftime('%B') %> - <%= @start_date.strftime('%Y') %> > <br> Jobs <i class="fa fa-fw fa-arrow-down"></i></th>
        <%= render('month_dates')%>
      </tr>
    </thead>
    <tbody>
      <%= render('jobs', :no_of_days => @no_of_days)%>
    </tbody>
  </table>
<%else%>
  <h1>No Jobs Found For <%= @organization.company%></h1>
<%end%>

<!-- Modal -->
<div class="modal fade" id="choose-pilot-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body" id='form-div'>
        <!-- Form will render here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#monthly_schedule').DataTable({
      scrollX: true,
      scrollY: $(window).height()- 265,
      scrollCollapse: true,
      paging: false,
      bSort: false,
      fixedColumns: true
    });
    //don't want to show number of records footer
    $('#monthly_schedule_info').html('');
    $("#monthly_schedule").on("click", "td", function() {
      var job_id = $(this).attr("data-job");
      if(job_id){
        var job_name = $(this).attr("data-jobname");
        var date = $(this).attr("data-date");
        var selected_org_unit = $('#org_unit_selector').val();
        var selected_base = $('#base_selector').val();
        params_data = {job_id: job_id, date: date, org_unit: selected_org_unit, base_id: selected_base};
        $.ajax({
          type: "GET",
          url: "/users/available_pilots.js",
          data: params_data,
          beforeSend: function() {
            $('.modal-title').text('Choose Pilot for Job: ' + job_name + ', Date: ' + date);
            $('#choose-pilot-modal').modal('show').find('.modal-body').html('Loading...');
          },
          error: function() {
            $('#choose-pilot-modal').modal('show').find('.modal-body').html('Error while loading pilots. Please refresh the page.');
          },
          // success: function(resp) {
          //   $('#choose-pilot-modal').modal('show').find('.modal-body').html('Available Users : '+resp.users.length);
          // }
        });
      }
   });
  });

  window.onload = function() {
    var tables = $.fn.dataTable.tables(true);
    $( tables ).DataTable().columns.adjust();
  };
</script>

<script>
  $(function(){
    $("#scheduling_month_selector").datetimepicker({
      format: 'MM-YYYY'
    });
    $('#scheduling_month_selector_icon').click(function(e){
      e.preventDefault();
      $('#scheduling_month_selector').focus();
    });
    $('#scheduling_month_selector').on('dp.change', function(e){
      change_schedule_view();
    });

    $("#org_unit_selector").change(function () {
      $( "#base_selector_div" ).remove();
      $( "#scheduling_month_selector_div" ).remove();
      change_schedule_view();
    });

    $("#base_selector").change(function () {
      change_schedule_view();
    });
  });

  var change_schedule_view = function() {
    var selected_org_unit = $('#org_unit_selector').val();
    if (is_element_present('base_selector')) {
      var selected_base = $('#base_selector').val();
      var selected_month_and_year = $('#scheduling_month_selector').val();
      var selected_month = selected_month_and_year.split("-")[0];
      var selected_year = selected_month_and_year.split("-")[1];
      window.location.href = '/schedules/'+selected_month+'/'+selected_year+'?org_unit='+selected_org_unit+'&base_id='+selected_base;
    } else {
      window.location.href = '/schedules?org_unit='+selected_org_unit;
    }
  };

  var is_element_present = function(element_id) {
    if ($('#'+element_id).length) return true;
    else return false;
  };
</script>
