<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-10">
  <h1>Listing Calendars 
    <%= link_to new_calendar_path, class: 'float-right btn btn-primary' do  %>
      <i class="fa fa-plus" aria-hidden="true"></i>
      New Calendar
    <% end %>
  </h1>
    <table class='table table-striped datatable'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Effective start date</th>
          <th>Effective end date</th>
          <th>Created by</th>
          <th>Last updated by</th>
          <th>Creation date</th>
          <th>Last update date</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @calendars.each do |calendar| %>
          <tr>
            <td><%= calendar.name %></td>
            <td><%= date_format(calendar.effective_start_date) %></td>
            <td><%= date_format(calendar.effective_end_date) %></td>
            <td><%= calendar.created_user_name %></td>
            <td><%= calendar.last_updated_user_name %></td>
            <td><%= date_time_format(calendar.creation_date) %></td>
            <td><%= date_time_format(calendar.last_update_date) %></td>
            <td><%= link_to 'Show', calendar %></td>
            <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
            <td><%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<script>
  $(function(){
    $('.datatable').DataTable({
      renderer: "bootstrap",
      "columnDefs": [{
        "targets": 3,
        "orderable": false
      }]
    });
  });
</script>
