<!-- <p id="notice"><%= notice %></p> -->
<ol class="breadcrumb">
  <li><%= link_to "Manage Calendars", calendars_path %></li>
  <li class="active"><%= @calendar.name %></li>
</ol>
<div class="row">
  <div class="col-md-12">
    <h2>
      <div class="row">
        <div class="col-md-11">
          Calendar <%= @calendar.name %> 
          <%= link_to edit_calendar_path(@calendar), class: 'btn btn-default' do %> 
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit
          <% end %>
          <span class='secondary float-right'><small><%= date_format(@calendar.effective_start_date) %> to <%= date_format(@calendar.effective_end_date) %> </small></span>
        </div>
        <div class="col-md-1">
          <i class="fa fa-chevron-down float-right" aria-hidden="true" data-toggle="collapse" data-target="#calendar_details" aria-expanded="false" aria-controls="calendar_details"></i>
        </div>
      </div>
    </h2>
    <hr>
  </div>
</div>
<div class="row collapse" id="calendar_details">
  <div class="col-md-4">
    <p class='secondary'>
      <strong>Created by:</strong>
      <%= @calendar.created_user_name %><br>
      <strong>Creation date:</strong>
      <%= date_format(@calendar.creation_date) %>
    </p>
  </div>
  <div class="col-md-4">
    <p class='secondary'>
      <strong>Last updated by:</strong>
      <%= @calendar.last_upated_user_name %><br>
      <strong>Last update date:</strong>
      <%= date_format(@calendar.last_update_date) %>
    </p>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-8">Associated Hitches</div>
      <div class="col-sm-4 float-right" id="hitch-search-container"></div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row expaneded">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <button type="button" data-url-path="#" class="btn btn-default filter_status" id="associated_hitch_status"><%= 'Active' %></button>
          </div>
          <div class="col-sm-8">
            <%= link_to new_calendar_calendars_hitch_path(@calendar), class: 'btn btn-info float-right' do %>
              <i class="fa fa-plus-square" aria-hidden="true"></i>
                Add Hitch
              <% end %>
            <%= link_to new_calendar_calendars_holiday_path(@calendar), class: 'btn btn-info float-right', style: 'margin-right:10px;' do %>
              <i class="fa fa-plus-square" aria-hidden="true"></i>
                Add Holidays
              <% end %>
          </div>    
        </div>

      <% if @calendars_hitches.present? %>
        <table class='table table-striped datatable'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Days on/off</th>
              <th>Week Days</th>
              <th>Hour start</th>
              <th>Hour end</th>
              <th>Created by</th>
              <th>Last updated by</th>
              <th>Creation date</th>
              <th>Last update date</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @calendars_hitches.each do |calendars_hitch| %>
              <tr>
                <td><%= calendars_hitch.hitch.name %></td>
                <td><%= calendars_hitch.hitch.days_on || 'N' %>/<%= calendars_hitch.hitch.days_off || 'A'%></td>
                <td class="no-wrap">
                  <% if calendars_hitch.hitch.work_type == 'days_on_off' %>
                    N/A
                  <% else %>
                    <span class='label label-<%= calendars_hitch.hitch.mon ? "primary" : "default" %>'>Mon</span>
                    <span class='label label-<%= calendars_hitch.hitch.tue ? "primary" : "default" %>'>Tue</span>
                    <span class='label label-<%= calendars_hitch.hitch.wed ? "primary" : "default" %>'>Wed</span>
                    <span class='label label-<%= calendars_hitch.hitch.thu ? "primary" : "default" %>'>Thu</span>
                    <span class='label label-<%= calendars_hitch.hitch.fri ? "primary" : "default" %>'>Fri</span>
                    <span class='label label-<%= calendars_hitch.hitch.sat ? "primary" : "default" %>'>Sat</span>
                    <span class='label label-<%= calendars_hitch.hitch.sun ? "primary" : "default" %>'>Sun</span>
                  <% end %>
                </td>
                <td><%= time_format(calendars_hitch.hitch.hour_start) %></td>
                <td><%= time_format(calendars_hitch.hitch.hour_end) %></td>
                <td><%= calendars_hitch.hitch.created_user_name %></td>
                <td><%= calendars_hitch.hitch.last_upated_user_name %></td>
                <td><%= date_time_format(calendars_hitch.hitch.creation_date) %></td>
                <td><%= date_time_format(calendars_hitch.hitch.last_update_date) %></td>
                <td><%= link_to 'View Calendar', calendar_calendars_hitch_path(@calendar, calendars_hitch) %></td>
                <td><%= link_to 'Edit', edit_calendar_calendars_hitch_path(@calendar, calendars_hitch) %></td>
                <td><%= link_to 'Remove from Calendar', calendar_calendars_hitch_path(@calendar, calendars_hitch), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h3>No hitches found</h3>
      <% end %>
      </div>
    </div>
  </div>
</div>