<ol class="breadcrumb">
  <li><%= link_to "Manage Hitches", hitches_path %></li>
  <li class="active">Editing Hitch <%= link_to @hitch.name, @hitch %></li>
</ol>
<div class="row">
  <div class="col-md-12">
    <h2>Hitch <%= @hitch.name %></h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">Associated Pilots</div>
          <div class="col-sm-4 float-right" id="hitch-search-container"></div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row expaneded">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <button type="button" data-url-path="#" class="btn btn-default filter_status" id="associated_pilot_status"><%= 'Active' %></button>
              </div>
              <div class="col-sm-6">
                <%= link_to '#', class: 'btn btn-info float-right' do %>
                  <i class="fa fa-plus-square" aria-hidden="true"></i>
                  Add Pilots
                <% end %>
              </div>    
            </div>
          
          <% if @pilots.present? %>
            <table class='table table-striped datatable'>
              <thead>
                <tr>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @pilots.each do |pilot| %>
                  <tr>
                    <td><%= pilot.last_name %></td>
                    <td><%= pilot.first_name %></td>
                    <td>Remove from hitch</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <h3>No Pilots found</h3>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default float-left width-100">
      <div class="panel-heading float-left width-100">
        Details
        <%= link_to edit_hitch_path(@hitch), class: 'btn btn-default float-right' do %> 
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit
          <% end %>
      </div>
        <!-- /.panel-heading -->
      <div class="panel-body float-left width-100">
        <div class="list-group">
            <span class="list-group-item">
              <i class="fa fa-braille fa-fw"></i> Name
              <span class="pull-right text-muted small"><em><%= @hitch.name %></em>
              </span>
            </span>
            <span class="list-group-item">
              <% if @hitch.work_type == 'week_days' %>
                <i class="fa fa-calendar-check-o fa-fw"></i> Work Days
                <span class="pull-right text-muted small">
                  <em class="no-wrap">
                    <span class='label label-<%= @hitch.mon ? "primary" : "default" %>'>Mon</span>
                    <span class='label label-<%= @hitch.tue ? "primary" : "default" %>'>Tue</span>
                    <span class='label label-<%= @hitch.wed ? "primary" : "default" %>'>Wed</span>
                    <span class='label label-<%= @hitch.thu ? "primary" : "default" %>'>Thu</span>
                    <span class='label label-<%= @hitch.fri ? "primary" : "default" %>'>Fri</span>
                    <span class='label label-<%= @hitch.sat ? "primary" : "default" %>'>Sat</span>
                    <span class='label label-<%= @hitch.sun ? "primary" : "default" %>'>Sun</span>
                  </em>
                </span>
              <% else %>
                <i class="fa fa-calendar-check-o fa-fw"></i> Days On/Off
                <span class="pull-right text-muted small"><em><%= @hitch.days_on %>/<%= @hitch.days_off %></em>
                </span>
              <% end %>
            </span>
            <span class="list-group-item">
                <i class="fa fa-clock-o fa-fw"></i> Hour Start
                <span class="pull-right text-muted small"><em><%= time_format(@hitch.hour_start) %></em>
                </span>
            </span>
            <span class="list-group-item">
                <i class="fa fa-clock-o fa-fw"></i> Hour End
                <span class="pull-right text-muted small"><em><%= time_format(@hitch.hour_end) %></em>
                </span>
            </span>
            <span class="list-group-item">
                <i class="fa fa-user fa-fw"></i> Create By
                <span class="pull-right text-muted small"><em><%= @hitch.created_user_name %></em>
                </span>
            </span>
            <span class="list-group-item">
                <i class="fa fa-calendar fa-fw"></i> Creation Date
                <span class="pull-right text-muted small"><em><%= date_format(@hitch.creation_date) %></em>
                </span>
            </span>
            <span class="list-group-item">
                <i class="fa fa-user fa-fw"></i> Last Updated By
                <span class="pull-right text-muted small"><em><%= @hitch.last_upated_user_name %></em>
                </span>
            </span>
            <span class="list-group-item">
                <i class="fa fa-calendar fa-fw"></i> Last Updated At
                <span class="pull-right text-muted small"><em><%= date_format(@hitch.last_update_date) %></em>
                </span>
            </span>
        </div>
        <!-- /.list-group -->
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>
