<div class="row">
  <div class="col-md-10">
  <h1>Listing Rules 
    <%= link_to new_rule_path, class: 'float-right btn btn-primary' do  %>
      <i class="fa fa-plus" aria-hidden="true"></i>
      New Rule
    <% end %>
  </h1>
    <table class='table table-striped datatable'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Created by</th>
          <th>Creation date</th>
          <th>Last updated by</th>
          <th>Last update date</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       <% @rules.each do |rule| %>
          <tr>
            <td><%= rule.name %></td>
            <td><%= rule.description %></td>
            <td><%= rule.created_user_name %></td>
            <td><%= date_time_format(rule.creation_date) %></td>
            <td><%= rule.last_updated_user_name %></td>
            <td><%= date_time_format(rule.last_update_date) %></td>
            <td><%= link_to 'Show', rule %></td>
            <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
            <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<script>
  $(function(){
    $('.datatable').DataTable({
      renderer: "bootstrap"
    });
  })
</script>